@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="login-card">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <img src="~/images/CRM.webp" alt="Waving hand" width="100" height="100" />
                </div>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" type="password" autocomplete="current-password" aria-required="true" placeholder="пароль" />
                        <label asp-for="Input.Password">Пароль</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label class="form-check-label" asp-for="Input.RememberMe">
                            Запам'ятати мене
                        </label>
                    </div>

                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary btn-rounded">
                        Увійти
                    </button>

                    <div class="text-center mt-3">
                        <a id="forgot-password" asp-page="./ForgotPassword">Забули пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}